.form__fieldset--newTask {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-gap: 20px;
  background-color: white;
  border-style: none;
  padding: 20px;
  margin-bottom: 5px;
  word-break: break-word;
}

@media (max-width:767px) {
  .form__fieldset--newTask {
    grid-template-columns: 1fr;
  }
}

.form__input {
  padding: 10px;
}

.form__button {
  padding: 10px;
  background-color: #008080;
  color: #ffffff;
  border-style: none;
}


.form__listItem {
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  border-bottom: solid 2px #ece9e9;
  word-break: break-word;
}

.form__listItem--done {
  text-decoration: line-through;
  font-weight: normal;
  font-size: 20px;

}

.form__buttonDone {
  padding: 5px;
  margin: 5px;
  border: none;
  background-color: white;
  font-size: 20px;

}

.form__buttonRemove {
  border: none;
  background-color: white;
  font-size: 15px;
}